.a {
    font-size: 30;
    border: 1px solid red;
    border-radius: 10px;
    border-width: thin;
}

.b {
    font-size: 30;
    font-style: italic;
    font-weight: bold;
}

.c {
    font-size: 30;
    background-color: black;
    color: white;
    font-family: monospace;
    box-shadow: 2px 4px grey;
}